  <md-content>
    <div layout="row">
      <md-subheader flex class="md-no-sticky">Application List</md-subheader>
      <md-pagination name="app" flex="40" [model]="pagination" (on-pagination-change)="detectChange($event)"
        [items-per-page-options]="availableLength"></md-pagination>
    </div>
    <md-data-table layout-fill>
      <thead>
        <tr>
         <th class="md-text-cell">Id</th>
         <th class="md-text-cell">Name</th>
         <th class="md-text-cell">Type</th>
         <th class="md-text-cell">&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let app of pagedAppList">
         <td class="md-text-cell">{{ app.id }}</td>
         <td class="md-text-cell">{{ app.name }}</td>
         <td class="md-text-cell">{{ app.appType }}</td>
         <td><button md-raised-button class="md-accent md-hue-1" (click)="onSelectApp(app)">Check</button></td>
       </tr>
       <br />
     </tbody>
    </md-data-table>
    <div layout="row">
      <span flex></span>
      <md-pagination name="app" flex="40" [model]="pagination" (on-pagination-change)="detectChange($event)"
        [items-per-page-options]="availableLength"></md-pagination>
    </div>
  </md-content>
