<md-content>
    <div layout="row">
      <md-subheader flex class="md-no-sticky">Database List</md-subheader>
      <md-pagination name="db" flex="40" [model]="pagination"
        (on-pagination-change)="detectChange($event)"
        [items-per-page-options]="availableLength"></md-pagination>
    </div>
    <md-data-table layout-fill>
      <thead>
        <tr>
         <th class="md-text-cell">Id</th>
         <th class="md-text-cell">Database Instance</th>
         <th class="md-text-cell">Database Type</th>
         <th class="md-text-cell">Storage (GB)</th>
         <th class="md-text-cell">&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let db of pagedDatabaseList">
         <td class="md-text-cell">{{ db.id }}</td>
         <td class="md-text-cell">{{ db.name }}</td>
         <td class="md-text-cell">{{ db.type }}</td>
         <td class="md-text-cell">{{ db.storage }}</td>
         <td><button md-raised-button class="md-accent md-hue-1" (click)="onSelectDBInstance(db)">Check</button></td>
       </tr>
       <br/>
     </tbody>
     </md-data-table>
     <div layout="row">
       <span flex></span>
       <md-pagination name="db" flex="40" [model]="pagination" (on-pagination-change)="detectChange($event)"
         [items-per-page-options]="availableLength"></md-pagination>
     </div>
  </md-content>
