<md-content>
    <md-subheader class="md-no-sticky">Database List</md-subheader>
    <md-data-table layout-fill>
      <thead>
        <tr>
         <th class="md-text-cell">Id</th>
         <th class="md-text-cell">Database Instance</th>
         <th class="md-text-cell">Database Type</th>
         <th class="md-text-cell">&nbsp;</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="#db of databaseInstanceList">
         <td class="md-text-cell">{{ db.id }}</td>
         <td class="md-text-cell">{{ db.name }}</td>
         <td class="md-text-cell">{{ db.type }}</td>
         <td><button md-raised-button class="md-accent md-hue-1" (click)="onSelectDBInstance(db)">Check</button></td>
       </tr>
       <br/>
     </tbody>
     </md-data-table>
  </md-content>
