<div>
  <h2>Factory:&nbsp;&nbsp;{{selectedFactory.name}}</h2>
  <h3>Country:&nbsp;&nbsp;{{selectedFactory.country}}</h3>

  <md-radio-group [(value)]="data.viewMode" layout="row" #group1>
       <md-radio-button *ngFor="let viewMode of data.viewModeList"
            [value]="viewMode"
            [checked]="group1.value == viewMode"
            (change)="onChange(viewMode)"
            class="md-warn">{{viewMode}}</md-radio-button>
  </md-radio-group>
   <md-content>
      <app-list [hidden]="!visible.application"
        [refresh]="visible.application"></app-list>
      <database-list [hidden]="!visible.database"
          [refresh]="visible.database"></database-list>
      <hardware-list [hidden]="!visible.hardware"
              [refresh]="visible.hardware"></hardware-list>
      <virtual-machine-list [hidden]="!visible.vm"
              [refresh]="visible.vm"></virtual-machine-list>
  </md-content>
</div>
