<md-content>
    <div layout="row">
      <md-subheader flex class="md-no-sticky">Hardware List</md-subheader>
      <md-pagination name="hardware" flex="35" [model]="pagination"
          (on-pagination-change)="detectChange($event)"
          [items-per-page-options]="availableLength"></md-pagination>
    </div>
    <div layout="row">
      <span flex></span>
      <select flex="25">
          <option *ngFor="let c of condition" value="{{c}}">{{c}}</option>
      </select>
    </div>
    <md-data-table layout-fill>
      <thead>
        <tr>
         <th class="md-text-cell">Id</th>
         <th class="md-text-cell">Name</th>
         <th class="md-text-cell">Manufacturer</th>
         <th class="md-text-cell">Model</th>
         <th class="md-text-cell">Year Of Service</th>
         <th class="md-text-cell">Condition</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let hardware of pagedHardwareList">
         <td class="md-text-cell">{{ hardware.id }}</td>
         <td class="md-text-cell">{{ hardware.name }}</td>
         <td class="md-text-cell">{{ hardware.manufacturer }}</td>
         <td class="md-text-cell">{{ hardware.model }}</td>
         <td class="md-text-cell">{{ hardware.yearOfService }}</td>
         <td class="md-text-cell">{{ hardware.condition }}</td>
       </tr>
       <br/>
     </tbody>
     </md-data-table>
     <div layout="row">
       <span flex></span>
       <md-pagination name="hardware" flex="35" [model]="pagination" (on-pagination-change)="detectChange($event)"
         [items-per-page-options]="availableLength"></md-pagination>
     </div>
  </md-content>
