
<div>
  <md-content>
    <md-subheader class="md-no-sticky">Database List</md-subheader>
    <md-data-table layout-fill>
      <thead>
        <tr>
         <th class="md-text-cell">Id</th>
         <th class="md-text-cell">Database Instance</th>
         <th class="md-text-cell">Database Type</th>
         <th class="md-text-cell">&nbsp;</th>
       </tr>
     </thead>
     <!--
     <tbody>
       <tr *ngFor="#app of selectedAppList">
         <td class="md-text-cell">{{ app.id }}</td>
         <td class="md-text-cell">{{ app.name }}</td>
         <td><button md-raised-button class="md-accent md-hue-1" (click)="onSelectApp(app.id)">Check</button></td>
       </tr>
     </tbody>
   -->
    </md-data-table>
  </md-content>
</div>
