<h1>Database</h1>
<div [hidden]="!dbInstance">
  <div>
    <h3>Name: {{dbInstance.name}} / DB Type: {{dbInstance.type}}</h3>
  </div>
  <div>
      <schema-usage-chart [dbId]="dbId" [factory]="factory" ></schema-usage-chart>
  <div>
  <div>
      <schema-stat-chart [dbId]="dbId" [factory]="factory" ></schema-stat-chart>
  </div>
  <button md-raised-button class="md-accent md-hue-1" (click)="onReturn(dbInstance)">Back</button>
</div>
<div [hidden]="dbInstance">
   <div>
     Database Instance is unavailable.
   </div>
   <button md-raised-button class="md-accent md-hue-1" (click)="onReturn(null)">Back</button>
</div>
